h1{
    background-color: aqua;
    border: 2px dotted  black;
}

#p1{
    background-color: rgb(82, 101, 224);
    border: 2px dotted  black;
}
#p2{
    background-color: rgb(220, 44, 44);
    border: 2px solid  black;
}   

img {
    display: none; 
    margin-top: 20px;
}

.special {
    color:seagreen;
    background-color:rgb(58, 8, 8);
    border: 2px solid black;
}